<!DOCTYPE html>
<html >
	<head>
		<meta charset="UTF-8">
		<title>munhasir </title>
		<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
		<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/simplex/bootstrap.min.css'>
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<div class="container">
			<header class="page-header">
				<div class="branding">
					<h1>munhasir</h1>
				</div>
			</header>
			<main id="app"></main>
		</div>
		<template id="home-list">
			<section>
				<div class="actions">
					<router-link class="btn btn-default" :to="{name: 'post'}">
						<span class="glyphicon glyphicon-plus"></span>
						New Entry
					</router-link>
					<router-link class="btn btn-primary" :to="{name: 'change-password'}">
						<span class="glyphicon glyphicon-edit"></span>
						Change Password
					</router-link>
					<button class="btn btn-default" v-on:click="logout">
						<span class="glyphicon glyphicon-log-out"></span>
						Logout
					</button>
					<router-link class="btn btn-primary" :to="{name: 'del-account'}">
						<span class="glyphicon glyphicon-trash"></span>
						Delete Your Account
					</router-link>

				</div>
				<div class="filters row">
					<div class="form-group col-sm-3">
						<label for="search-element">Date</label>
						<input v-model="searchKey" class="form-control" id="search-element" required/>
					</div>
				</div>
				<table class="table">
					<thead>
						<tr>
							<th class="col-md-2">Date</th>
							<th class="col-md-7">Content</th>
							<th class="col-sm-3">Actions</th>
						</tr>
					</thead>
				</table>
				<div v-for="entry in data2">
					<div class="row">
						<div class="col-md-2">{{ formatDateTime(entry.Day) }}</div>
						<div class="col-md-7">
							<div style="word-wrap: break-word;">
								<p>{{ entry.EncryptedText }}</p>
							</div>
						</div>
						<div class="col-md-3">
							<label>View</label>
							<br>
							<router-link class="btn btn-primary"  :to="{name: 'view', params: {entry_id: entry.Id}}">
								<span class="glyphicon glyphicon-menu-right"></span>
							</router-link>
						</div>
						<br>
					</div>
					<br>
					<br>
				</div>
				</div>
			</section>
		</template>
		<template id="view">
			<section>
				<h2 v-if="token !== ''" v-if="err2 !== ''">View</h2>
				<p v-if="token !== ''" v-if="err2 !== ''">{{text}}</p>
				<br>
				<label v-if="err2 !== ''" for="search-element">Key</label>
				<input v-if="err2 !== ''" v-bind:ref="content.Id" class="form-control" required/>
				<br>
				<button v-if="err2 !== ''" v-on:click="decrypt" v-if="token !== ''" class="btn btn-primary"><span class="glyphicon glyphicon-compressed"></span> Decrypt</button>
				<router-link v-if="err2 !== ''" v-if="token !== ''" class="btn btn-default" :to="{name: 'del-entry', params: {entry_id: content.Id}}"><span class="glyphicon glyphicon-trash"></span> Delete</router-link>
				<router-link class="btn btn-primary"  :to="{name: 'edit', params: {entry_id: content.Id}}"><span class="glyphicon glyphicon-edit"></span> Edit</router-link>
				<router-link v-if="token !== ''" class="btn btn-default" :to="{name: 'home'}"><span class="glyphicon glyphicon-home"></span> Home</router-link>
				
				<p v-if="err2 === ''">Invalid page, go back to Home?
					<router-link v-if="token !== ''" class="btn btn-warning" :to="{name: 'home'}">Home</router-link>
				</p>
				
				
			</section>
		</template>

		<template id="del-entry">
			<section>
				<h2 v-if="token !== ''">Entry Delete</h2>
				<label v-if="token !== ''">Password</label>
				<input type="password" v-if="token !== ''" v-model="pass" class="form-control" required/>
				<br>
				<button v-on:click="run" v-if="token !== ''" class="btn btn-primary">Delete</button>
				<router-link v-if="token !== ''" class="btn btn-default" :to="{name: 'view', params: {entry_id: entry_id}}">Cancel</router-link>
				<p v-if="token === ''">Invalid page, go back to Home?
				<router-link class="btn btn-warning" :to="{name: 'home'}">Home</router-link></p>
				<router-link class="btn btn-primary" :to="{name: 'home'}">Home</router-link>
				
				<br>
				<div  v-if="status === 'deleted'"  class="alert alert-success">
					success, directing to list.
				</div>
			</section>
		</template>

		<template id="del-account">
			<section>
				<h2 v-if="token !== ''">Account Delete</h2>
				<label v-if="token !== ''">Password</label>
				<input type="password" v-if="token !== ''" v-model="pass" class="form-control" required/>
				<br>
				<div class="alert alert-warning">
					are you sure? we won't ask again!
				</div>
				<br>
				<button v-on:click="run" v-if="token !== ''" class="btn btn-default">Delete</button>
				<router-link v-if="token !== ''" class="btn btn-primary" :to="{name: 'home'}">Cancel</router-link>
				<p v-if="token === ''">Invalid page, go back to Home?</p>
				<router-link v-if="token === ''" class="btn btn-warning" :to="{name: 'home'}">Home</router-link>
				<br>
				<br>
				<div  v-if="status === 'deleted'"  class="alert alert-success">
					success, you are no longer a member.
				</div>
				<div  v-if="status !== '' && status !== 'deleted'"  class="alert alert-danger">
					{{status}}
				</div>
			</section>
		</template>

		<template id="change-password">
			<section>
				<h2 v-if="token !== ''">Change Password</h2>
				<div class="form-group" v-bind:class="{'has-error':(oldPassword1!==oldPassword2 &&  (oldPassword1!=='' && oldPassword2!==''))||(status !== 'success' && status !=='')}">
					<label v-if="token !== ''" for="oldPassword1">Old Password</label>
					<input type="password" v-if="token !== ''" class="form-control" v-model="oldPassword1" required/>
				
				<br>
				<label v-if="token !== ''" for="oldPassword2">Old Password<p style="color:grey;">(Again)</p></label>
				<input type="password" v-if="token !== ''" class="form-control" v-model="oldPassword2" required/>
				
				<br>
				<div class="alert alert-danger" v-if="(oldPassword1!==oldPassword2 &&  (oldPassword1!=='' && oldPassword2!==''))||((status !== 'success' && status !=='')&&oldPasswordTemp===oldPassword1)">
				<span v-if="oldPassword1!==oldPassword2 &&  (oldPassword1!=='' && oldPassword2!=='')">passwords do not match</span><span v-if="(status !== 'success' && status !=='')&&(oldPasswordTemp===oldPassword1)"> {{status}}</span> </div>
				</div>
				<div class="form-group">
				<label v-if="token !== ''" for="newPassword">New Password</label>
				<input type="password" v-if="token !== ''" class="form-control" v-model="newPassword" required/>
				</div>
				<br>

				<button v-if="token !== ''" v-on:click="post" v-bind:class="{ 'disabled': oldPassword1!==oldPassword2 || oldPassword1==='' || oldPassword2===''}" class="btn btn-primary">Change</button>
				<router-link v-if="token !== ''" class="btn btn-default" :to="{name: 'home'}">Cancel</router-link>
				<router-link v-if="token === ''" class="btn btn-primary" :to="{name: 'home'}">Home</router-link>
				<br>
				<br>
				<div  v-if="status === 'success'"  class="alert alert-success">
					success, please login with new password.
				</div>
				
			</section>
		</template>


		<template id="edit">
			<section>
				<h2 v-if="token !== ''" v-if="err2 !== ''">Edit</h2>
				<textarea  class="form-control" v-if="token !== ''" v-if="err2 !== ''" v-model="text">{{text}}</textarea>
				<br>
				<label v-if="err2 !== ''" for="search-element">Key</label>
				<input v-if="err2 !== ''" v-bind:ref="content.Id" class="form-control" required/>
				<br>
				<button v-if="err2 !== ''" v-on:click="decrypt" v-if="token !== ''" class="btn btn-default">Decrypt</button>
				<button v-if="err2 !== ''" v-bind:class="{ 'disabled': !decrypted }"  v-on:click="update" v-if="token !== ''" class="btn btn-primary">Update</button>
				<router-link class="btn btn-default"  :to="{name: 'view', params: {entry_id: content.Id}}">Cancel</router-link>
				<router-link v-if="token !== ''" class="btn btn-primary" :to="{name: 'home'}">Home</router-link>
				<p v-if="err2 === ''">Invalid page, go back to Home?
				<router-link v-if="token === ''" class="btn btn-danger" :to="{name: 'home'}">Home</router-link></p>
				
				<div  v-if="status === 'success'"  class="alert alert-success">
					success, directing to view.
				</div>
			</section>
		</template>
		<template id="register">
			<section>
				<h2 v-if="token === ''">Register</h2>
				<form v-on:submit.prevent v-if="token === ''" v-on:submit="createUser">
					<div class="form-group" v-bind:class="{'has-error': has_error}">
						<label for="add-username">Username</label>
						<input id="add-username" class="form-control" v-model="user.username" required/>
						<div v-if="err === 'alreadyuser' && oldUsername==user.username">
							<br>
							<div class="alert alert-danger">
								username is taken. sorry about that. maybe try another one?
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="add-password">Password</label>
						<input type="password" class="form-control" id="add-password" v-model="user.password" required/>
						<div v-if="err === 'success'">
							<br>
							<div class="alert alert-success">
								success, directing to login.
							</div>
						</div>
					</div>
					<button v-bind:class="{ 'disabled': isDisabled }" type="submit" class="btn btn-primary">Create</button>
					<router-link v-bind:class="{ 'disabled': isDisabled }"  class="btn btn-default" :to="{path: '/'}">Cancel</router-link>
				</form>
				<p v-if="token !== ''">You already logged in. You can go back to home page.</p>
				<router-link v-if="token !== ''" class="btn btn-warning" :to="{name: 'home'}">Home</router-link>
			</section>
		</template>
		<template id="login">
			<section>
				<h2 v-if="token === ''">Login</h2>
				<form v-on:submit.prevent v-if="token === ''" v-on:submit="logInUser">
					<div class="form-group" v-bind:class="userhas_error">
						<label for="username">Username</label>
						<input id="username" class="form-control" v-model="user.username" required/>
						<div v-if="err === 'doesn\'t exist'" >
							<br>
							<div class="alert alert-danger">
								username doesn't seem to be registered, sorry.
							</div>
						</div>
					</div>
					<div class="form-group" v-bind:class="passhas_error">
						<label for="password">Password</label>
						<input type="password" class="form-control" id="password" v-model="user.password" required/>
						<div v-if="err === 'incorrectpass'">
							<br> 
							<div class="alert alert-danger">
								incorrect password
							</div>
						</div>
					</div>
					<div class="form-group">
					<div v-if="err === 'othererror'" >
						<br>
						<div class="alert alert-danger">
							something unusual happened, please try again later.
						</div>
						</div>
						<div v-if="err === 'success'">
							<br>
							<div  class="alert alert-success">logged in, directing to your entries.</div>
						</div>
					</div>
					<button v-bind:class="{ 'disabled': isDisabled }" type="submit" class="btn btn-primary">Submit</button>
					<router-link v-bind:class="{ 'disabled': isDisabled }"  class="btn btn-default" :to="{path: '/'}">Cancel</router-link>
					<router-link v-bind:class="{ 'disabled': isDisabled }"  class="btn btn-default" :to="{name: 'register'}">Register</router-link>
				</form>
				<p v-if="token !== ''">You already logged in. You can go back to home page.</p>
				<router-link v-if="token !== ''" class="btn btn-warning" :to="{name: 'home'}">Home</router-link>
			</section>
		</template>
		<template id="post">
			<section>
				<h2 v-if="token !== ''">Post New Entry</h2>
				<form v-on:submit.prevent v-if="token !== ''" v-on:submit="postEntry">
					<div class="form-group">
						<label for="text">Text</label>
						<textarea id="text" class="form-control" v-model="post.text" required></textarea>
					</div>
					<div class="form-group">
						<label for="key">Key</label>
						<input class="form-control" id="key" v-model="post.key" required/>
						<div v-if="err === 'incorrectpass'">
							<br> 
							<div class="alert alert-danger">
								incorrect password
							</div>
						</div>
						<div>
							<br>
							<div class="alert alert-warning">
								You will need to remember this key to see or edit this entry afterwards.
							</div>
						</div>
						<div v-if="err === 'success'">
							<br>
							<div  class="alert alert-success">posted the new entry. directing to the entry list.</div>
						</div>
					</div>
					<button v-bind:class="{ 'disabled': isDisabled }" type="submit" class="btn btn-primary">Submit</button>
					<router-link v-bind:class="{ 'disabled': isDisabled }"  class="btn btn-default" :to="{path: '/'}">Cancel</router-link>
				</form>
				<p v-if="token === ''">You should login first.</p>
				<router-link v-if="token === ''" class="btn btn-warning" :to="{name: 'login'}">Login</router-link>
			</section>
		</template>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.min.js'></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/vue-router/2.3.1/vue-router.min.js'></script>
		<script src="https://cdn.jsdelivr.net/vue.resource/1.2.1/vue-resource.min.js"></script>
		<script src="main.js"></script>
	</body>
</html>